/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */
@font-face {
	font-family: 'Baskerville';
	src: url(../fonts/Baskerville.ttc);
}


/*////////// Global Styles //////////*/

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */


/*////////// HEADER //////////*/

header h1 {
	display: block;
	padding-bottom: 10px;
	margin: 0 0 5px;
	font-size: 5em;
	font-weight: normal;
	font-family: 'Baskerville', serif;
	border-bottom: 1px solid #ccc;
}

h1 a {
	text-decoration: none;
	color: rgb(152, 173, 166);
	background: transparent;
}

header a {
	-webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color ease-out 1s;
  transition: color ease-out 1s;
}

header a:hover {
    color: rgb(111,127,122);
	}



/*////////// SECTION //////////*/

img {
  border: 5px rgb(152,173,166) solid;
	}

h2 {
	color: rgb(111,127,122);
	font-size: 2em;
	}

p {
	color: #555;
	font-size: 1em;
	margin: 0 0 20px 0;
	}

#featured a {
	color: #1783bb;
	text-decoration: none;
 }

#featured a:hover {
	text-decoration: underline;
}

#press {
    margin-bottom: 20px;
}

#press img {
	border: 5px #ccc solid;
  padding: 1px;
	-webkit-transition: border 0.5s ease;
  -moz-transition: border 0.5s ease;
  -o-transition: border ease-out 1s;
  transition: border ease-out 1s;
}

#press img:hover {
    border: 5px rgb(111,127,122) solid;
}


/*////////// FOOTER ///////////*/

footer {
 text-align: right;
 background: #fff;
}

.small {
    font-size: 0.8em;
}
